
    {form name=$formName}
    
    
    <table class="ow_table_2">
        	
        <tr class="ow_tr_first">
            <th class="ow_name ow_txtleft" colspan="2">
                <span class="ow_section_icon ow_ic_gear_wheel">{$title}</span>
            </th>
        </tr>
        
            {foreach from=$elementList item='item'}
                {if $item->getAttribute("type") == "hidden"}
        
                {else}
    
                <tr class="{cycle values='ow_alt1,ow_alt2'}">


                    <td style="width:326px">
                        <div class="ow_right ow_txtright">{$item->getLabel()}</div>
                    </td>

                    <td>
                        <div class="ow_left ow_txtleft" style="width:100%">{input name=$item->getName()}</div>
                        {if !empty($item->getAttribute('data-description'))}
                            <div style="height:1px;"></div>
                            <div class="ow_txtleft">{$item->getAttribute('data-description')}</div>
                        {/if}
                        <div style="height:1px;"></div>
                        <div class="ow_left ow_small">{error name=$item->getName()}</div>
                        
                    </td>
                </tr>

                {/if}
    
            {/foreach}
            
        </table>
    
    <div style="text-align: center;padding: 5px;">{submit name='submit'}</div>
    
    {/form}
    
    


