{$menu}

{form name='skandroid_analytics'}
    <table class="ow_table_1 ow_form">
        <tr class="ow_alt1">
            <td class="ow_label">{label name='analytics_key'}</td>
            <td class="ow_value">
                {input name='analytics_key'}<br />
                {error name='analytics_key'}
            </td>
            <td class="ow_desc">{desc name='analytics_key'}</td>
        </tr>
        <tr class="ow_alt2">
            <td colspan="3" class="ow_center">{submit name='analytics_submit'}</td>
        </tr>
    </table>
{/form}
