<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>Console Avatar Dropdown</name>
	<key>consoleavatar</key>
	<description>Replaces the profile menu name on the console with user avatar and display name.</description>
    <author>Ebenezer Obasi</author>
    <authorEmail>info@eobasi.org</authorEmail>
	<authorUrl>http://www.eobasi.com</authorUrl>
	<developerKey>d7be028d4d1053345e0fd37184e5dadb</developerKey>
    <build>1</build>
    <copyright>© 2018 All rights reserved.</copyright>
	<license>OSCL</license>
    <licenseUrl>http://www.oxwall.org/store/oscl</licenseUrl>
</plugin>