<div class="clearfix">

    <div class="ow_superwide ow_automargin">
    {form name="save"}
        <input type="hidden" id="save_post_command" name="command" />
        <table class="ow_table_1 ow_form ow_stdmargin">
            <tr class="ow_alt2 ow_tr_first">
                <td>
                    {label name="tf"} <br />
                    {input name='tf'}
                    <br />{error name="tf"}
                </td>
            </tr>
        </table>
        <div class="clearfix ow_stdmargin ow_submit ow_btn_delimiter">
        	<div class="ow_right">{submit name="save" class="ow_button ow_green ow_positive"}</div>
	</div>
    {/form}
    </div>
</div>